<div class="center-align">
<h2>Sign Up</h2>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
  <ul>
  <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>
</div>
<div>
<ul class="container">
    <%= form_for @user do |f| %>
    <div class="row">
    <div class="col s12">
      <%= f.label :username %>
      <%= f.text_field :username, class: 'input-field' %><br>
      </div>
    </div>
    <div class="row">
    <div class="col s12">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'input-field' %><br>
    </div>
    </div>
    <div class="row">
    <div class="col s12">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'input-field' %><br>
    </div>
    </div>
    <div class="row">
    <div class="col s12">
    <%= f.label :nickname %>
    <%= f.text_field :nickname, class: 'input-field' %><br>
    </div>
    </div>
    <%= f.submit "Sign Up", class: 'sign-up-button' %><br>
    <% end %>
  </div>
</div>
</div>
