<div class="container">
<br>
  <div class="row">
    <div class="col s4 offset-s8">
      <div style="float:right;">
        <a class="logout_button" style="vertical-align:middle" href="/sessions"> <span>Logout</span> </a><br>
      </div>
      <div style="float:right;">
        <a class="edit-profile-button" style="vertical-align:middle" href="/users/<%= @user.id %>/edit"> <span>Edit Profile</span></a><br>
      </div>
    </div>
  </div>

<div class="center-align">
  <h1><%= @user.nickname %></h1>
</div>

<% @characters.each do |char| %>
<div class="row">
  <div class="col s10">
    <div class="character-card" style="background-color: white !important;">

      <div style="float: left; padding-left: 50px;">
        <% if char.char_type == 'student' %>
          <%= image_tag "http://generator-meme.com/inc/media/memes/all-the-things.jpg", height: '100', width: '100' %>
        <% else %>
          <%= image_tag "#{char.picture_front}", height: '100', width: '100' %>
        <% end %>
      </div>

      <div style="float: left; padding-left: 50px; color: black !important; ">
        <h5><%= link_to "#{char.char_type.upcase}", char %></h5>
        <h6><%= "Level: #{char.level}" %></h6>
        <h6><%= "XP: #{char.xp}" %></h6>
      </div>

      <div style="float: left; padding-left: 50px;">
      <% Ability.all.each do |ability|%>
        <% if char.char_type == ability.char_type.downcase %>
          <h6><%= "#{ability.slug_name} - Reliability: #{ability.reliability} - Max Dmg: #{(40 - ability.reliability)}" %></h6>
        <% end %>
      <% end %>
      </div>

    </div>
  </div>
</div>
<% end %>

<% if !!@active_challenge %>
  <p><%= "Challenged #{@active_challenge.opponent.user.nickname} to battle. Awaiting response." %></p>
  <p><%= button_to 'Cancel Challenge', '/battles/destroy' %></p>
<% elsif !!@active_invitation %>
  <p><%= "#{@active_invitation.challenger.user.nickname} wants to battle. Do you accept?" %></p><br>
  <%= form_tag '/battles/challenge_response', method: :get do %>
    <%= label_tag :accept %>
    <%= radio_button_tag :invite, 'accept' %><br>
    <%= label_tag :decline %>
    <%= radio_button_tag :invite, 'decline' %><br>
    <br>
    <%= submit_tag 'Submit' %>
  <% end %>
<% elsif !!@active_battle %>
  <p>Active Battle:</p>
  <h3><%= link_to "#{@active_battle.challenger.user.nickname} vs #{@active_battle.opponent.user.nickname}", @active_battle %></h3>
<% end %>
<br>

<% if @active_battle == nil && @active_challenge == nil %>
  <a class="battle_button" style="vertical-align:middle" href="/battles/new"> <span>New Battle</span> </a><br>
<% end %>

</div>
