<h1><%= @character.char_type.capitalize %></h1>
<table>
  <thead>
    <tr>
      <th>Ability</th>
      <th>Reliability</th>
      <th>Max Damage</th>
    </tr>
  </thead>
  <tbody>
    <% @character.abilities.each do |ability| %>
    <tr>
      <td><%= ability.slug_name %></td>
      <td><%= ability.reliability %></td>
      <td><%= 40-ability.reliability %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<p><div class="profile-arrow"><%= link_to 'Back to Profile', @character.user %></div></p>
