<div class="container">

<h1>Start a Battle</h1>

<% if flash[:notice]  %>
<%= flash[:notice] %>
<% end %>

<%= form_for @battle do |f| %>
<%= f.collection_select(:opponent_id, @inactive_users, :id, :nickname, class: "show-select")%>
<br>
<%= f.submit 'Battle!' %>
<% end %>

<h3>Active Battles</h3>
<ul>
<% @active_battles.each do |battle| %>
  <li><%= "#{battle.challenger.user.nickname} vs #{battle.opponent.user.nickname}" %></li>
<% end %>
</ul>

</div>
