<h1><%= @challenger.nickname %> VS. <%= @opponent.nickname %></h1>

<div style = "float:left">
  <%= @challenger_character.char_type  %>
  <%= @challenger_character.hp  %>
  <%= @challenger_character.level  %>
  <%if current_user.id == @challenger.id %>
    <%= form_tag submit_move_path do %>
      <%@challenger_character.abilities.each do |ability| %>
        <%= radio_button_tag 'challenger[ability]', 'ability.id' %>
        <% end %>
        <%= submit_tag 'Submit Move' %>
    <% end %>
  <% end %>

</div>

<div style = "float:right">
  <%= @opponent_character.char_type  %>
  <%= @opponent_character.hp  %>
  <%= @opponent_character.level  %>
  <%if current_user.id == @opponent.id %>
    <%= form_tag submit_move_path do %>
      <%@opponent_character.abilities.each do |ability| %>
        <%= radio_button_tag 'opponent[ability]', 'ability.id' %>
        <% end %>
        <%= submit_tag 'Submit Move' %>
    <% end %>
  <% end %>
</div>

ADD ACTIVITY LOG
