<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron Champions</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="http://generator-meme.com/inc/media/memes/all-the-things.jpg">
    <link rel="flat-icon" href="http://www.psdgraphics.com/file/trophy-award-icon.jpg">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Squada+One" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center"><i>Flatiron Champions</i></a>
      <% if logged_in? %>
        <ul class="left hide-on-med-and-down">
          <li><a href="/users/<%= "#{current_user.id}" %>">Profile</a></li>
          <li><a href="/characters/<%= "#{current_user.id}" %>">Characters</a></li>
          <li class="active"><a href="collapsible.html">Battle Stats</a></li>
        </ul>
      <% end %>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
